<h1><%=@employee.full_name%></h1>
<div><%=link_to @employee.dog.name, dog_path(@employee.dog)%></div><br>
<div>First Name: <%=@employee.first_name %></div><br>
   <div>Last Name: <%=@employee.last_name %></div><br>
   <div>Alias: <%=@employee.alias %></div><br>
   <div>Title: <%=@employee.title %></div><br>
   <div>Office: <%=@employee.office %></div><br>
